# Frontend environment variables
NEXT_PUBLIC_ENVIRONMENT=development
NEXT_PUBLIC_FEED_SERVICE_URL=http://localhost:8004
NEXT_PUBLIC_USER_SERVICE_URL=http://localhost:8001
NEXT_PUBLIC_CONTENT_SERVICE_URL=http://localhost:8002
NEXT_PUBLIC_INTERACTION_SERVICE_URL=http://localhost:8003
